
.dockerignore
app/package.json
app/spec/persistence/sqlite.spec.js
app/spec/routes/addItem.spec.js
app/spec/routes/deleteItem.spec.js
app/spec/routes/getItems.spec.js
app/spec/routes/updateItem.spec.js
app/src/index.js
app/src/persistence/index.js
app/src/persistence/mysql.js
app/src/persistence/sqlite.js
app/src/routes/addItem.js
app/src/routes/deleteItem.js
app/src/routes/getItems.js
app/src/routes/updateItem.js
app/src/static/css/bootstrap.min.css
app/src/static/css/font-awesome/all.min.css
app/src/static/css/font-awesome/fa-brands-400.eot
app/src/static/css/font-awesome/fa-brands-400.svg#fontawesome
app/src/static/css/font-awesome/fa-brands-400.ttf
app/src/static/css/font-awesome/fa-brands-400.woff
app/src/static/css/font-awesome/fa-brands-400.woff2
app/src/static/css/font-awesome/fa-regular-400.eot
app/src/static/css/font-awesome/fa-regular-400.svg#fontawesome
app/src/static/css/font-awesome/fa-regular-400.ttf
app/src/static/css/font-awesome/fa-regular-400.woff
app/src/static/css/font-awesome/fa-regular-400.woff2
app/src/static/css/font-awesome/fa-solid-900.eot
app/src/static/css/font-awesome/fa-solid-900.svg#fontawesome
app/src/static/css/font-awesome/fa-solid-900.ttf
app/src/static/css/font-awesome/fa-solid-900.woff
app/src/static/css/font-awesome/fa-solid-900.woff2
app/src/static/css/styles.css
app/src/static/index.html
app/src/static/js/app.js
app/src/static/js/babel.min.js
app/src/static/js/react-bootstrap.js
app/src/static/js/react-dom.production.min.js
app/src/static/js/react.production.min.js
app/yarn.lock
build.sh
docker-compose.yml
Dockerfile
docs/css/dark-mode.css
docs/css/styles.css
docs/fonts/hinted-Geomanist-Book.ttf
docs/images/docker-labs-logo.svg
docs/images/pwd-badge.png
docs/index.md
docs/tutorial/image-building-best-practices/index.md
docs/tutorial/index.md
docs/tutorial/multi-container-apps/dashboard-multi-container-app.png
docs/tutorial/multi-container-apps/index.md
docs/tutorial/multi-container-apps/multi-app-architecture.png
docs/tutorial/our-application/dashboard-two-containers.png
docs/tutorial/our-application/ide-screenshot.png
docs/tutorial/our-application/index.md
docs/tutorial/our-application/todo-list-empty.png
docs/tutorial/our-application/todo-list-sample.png
docs/tutorial/persisting-our-data/index.md
docs/tutorial/persisting-our-data/items-added.png
docs/tutorial/sharing-our-app/index.md
docs/tutorial/sharing-our-app/push-command.png
docs/tutorial/tutorial-in-dashboard.png
docs/tutorial/updating-our-app/dashboard-removing-container.png
docs/tutorial/updating-our-app/index.md
docs/tutorial/updating-our-app/todo-list-updated-empty-text.png
docs/tutorial/using-bind-mounts/index.md
docs/tutorial/using-bind-mounts/updated-add-button.png
docs/tutorial/using-docker-compose/dashboard-app-project-collapsed.png
docs/tutorial/using-docker-compose/dashboard-app-project-expanded.png
docs/tutorial/using-docker-compose/index.md
docs/tutorial/what-next/index.md
LICENSE
mkdocs.yml
README.md
requirements.txt
yarn.lock
