[access]
	inheritFrom = chromiumos
[project]
	description = Parent for chromiumos/overlays/* projects, defines common ACLs.
[access "refs/for/refs/*"]
	exclusiveGroupPermissions = pushMerge
[submit]
	action = inherit
[access "refs/for/refs/heads/staging"]
	owner = group mdb/chromeos-ci-oncalls
	submit = group chromiumos-staging-bot
